body {
    margin: 0px;
    padding: 0px;
    background-color: #0A97B0;
}
.navbar{
    background-color: #0A97B0;
    height: 107px;
    
}

.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;

}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;

}

.navbar a:hover{
    background-color: aqua;
    border-radius: 15px;
    font-size: 23;
   transition: 1s; 
}



#telefoni {
    align-items: center;
    height: 40px;
    width: 50px;
    margin-right: 6px;
    margin-left: 60px;
    
}
#nrtel {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 200px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
#navkryesor {
    display: flex;
}
#navelement{
    display: flex;
    margin-top: 30px;
    margin-left: 110px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    
}
#contactformK {
    background-color: white;
    height: 670px;
    width: 1063px;
    margin-left: 130px;
    border-radius: 15px;
    
    
    
    
}
#majt {
    background-color: red;
    height: 400px;
    width: 282px;
    
}
#djatht {
    background-color: blueviolet;
    height: 400px;
    width: 282px;
    justify-items: center;
}
#majtdjatht {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 120px;
            
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="text-area"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #0A97B0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: aqua;
    transition: 0.5s;
}        